{
    "IgnoreErrors": false,
    "IgnoreWarnings": false,
    "NonInteractive": false,
    "VM": {
        "Username": "user",
        "Password": "pass"
    },
    "Windows": {
        "EnableAutologon": true,
        "Username": "user",
        "Password": "pass"
    },
    "Vcloud": {
        "Url": "https://example.com",
        "Username": "user",
        "Password": "pass"
    }
}